
body {
	width: 100%;
	height: 100%;
}

@media (max-width: 576px) {



}


@media (min-width: 576px) {
	.ourServiceSection {
		margin-left: 30px;
	}
}

@media (max-width: 768px) {
	.promiseSection {
	position: absolute;
	top: 430px;
	max-width: 80%;
	margin-left: 10%;
	}

	.techologies {
	min-height: 1200px;
	}
	.descriptionPromiseWrapper{
		display: flex;
   	 	flex-direction: column;
    	justify-content: center;
    	align-items: center;
	} 

	.wrapperPromise {
		display: flex;
   		flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}

	
}

@media (min-width: 768px) {
	.descriptionPromiseWrapper {
	display: flex;
	}

	.wrapperPromiseItem {
		display: flex;
	}

	.techologies {
	min-height: 700px;
	}
}

@media (max-width: 992px) {
	.promiseSection {
	position: absolute;
	top: 430px;
	max-width: 80%;
	margin-left: 10%;
	}

	#slider-wrapper {
	height: 600px;
	}

	.slide {
		height: 600px;
	}

	.ourServiceSection {
	padding-top: 500px;
}

}

@media (min-width: 992px) {
	.promiseSection {
	position: absolute;
	top: 430px;
	max-width: 75%;
	left: 13%;
	}

	.wrapperPromise {
		display: flex;
	}

	.techologies {
	min-height: 600px;
	}
	
	#slider-wrapper {
	height: 300px;
	}

	.slide {
		height: 300px;
		display: flex;
	}

	.imageSliderMain {
		left: 50%;
	}

	.ourServiceSection {
	padding-top: 200px;
	}
}

@media (min-width: 1200px) {
	.techologies {
	min-height: 400px;
	}
}






/*Стили*/

.logo img{
	max-width: 300px;
}

.mainSection {
	background: url('../image/bg.jpg');
	min-height: 600px;
	background-size: cover;
	padding-top: 20px;
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.nav {
	display: flex;
	justify-content: space-between !important;
}

.nav a{
	margin-right: 20px;
	color: #fff;
}

.nav a:hover {
	color: #fff;
	text-decoration: none;
}

.utp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

.utp p, .utp h2, .utp h4 {
	color: #fff;
}

.utp .btn-danger {
	border-radius: 12px;
	width: 150px;
	height: 35px;
	margin-top: 40px;
}



.wrapperPromiseImage img {
	max-width: 330px;
}



.wrapperdDescripProm {
	padding: 20px;
	background: #fff;
}

.techologies {
	background: #F7F8FA;
}

.promiseItem {
	background: #fff;
	margin-right: 7px;
	margin-top: 7px;
	max-width: 310px;
	padding: 13px;
}

.promiseItem img {
	margin-bottom: 15px;
}

.promiseItem h4 {
	font-size: 20px;
}

.promiseItem p {
	font-size: 15px;
}

.anotherPromiseItem {
	background: #101B53;
	color: #F7F8FA;
}

.otherPromiseItem {
	background: #dc3545;
	max-height: 200px;
	color: #F7F8FA;
}

.otherPromiseItem hr {
	background: #fff;
}

.techologiesSection {
	background: #F7F8FA;
	position: relative;
}

.wrapperTechnologies h3{
	margin-left: 10%;
}

.wrapperTechnologies {
	margin-bottom: 20px;
}

.techologiesItem {
	display: flex;
	padding: 10px 20px;
	background: #fff;
	justify-content: center;
	cursor: pointer;

}

.techologiesItem p {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 23px;
	font-weight: 600;
}

.techologiesItem img {
	height: 35px;
}


.wrapperAllItems {
	position:relative;
	margin-right: 10px;
}

.descr {
	background: #fff;
	padding: 10px 10px;
	opacity: 0;
    visibility: hidden;
	transition: .55s opacity, .55s visibility;
}

.descr ul li {
	font-size: 13px;
}

.descr ul {
	padding-left: 10px;
}

.wrapperAllItems:hover .descr{
    opacity: 1;
    visibility: visible;
}


.techologiesSection {
	min-height: 200px;
	padding-top: 40px;
}

.wrapperTechnologies {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#slider {
	margin: 2em auto;
	width: 960px;
	overflow: hidden;
}

#slider-wrapper {
	width: 9999px;
	position: relative;
	transition: left 400ms linear;
}

.slide {
	float: left;
	width: 960px;
	position: relative;
	overflow: hidden;
}


.slide img {
	position: absolute;
}

.caption {
	margin: 0;
	position: absolute;
	z-index: 100;
	bottom: -2em;
	left: 0;
	width: 100%;
	height: 2em;
	line-height: 2;
	text-align: center;
	background: rgba( 0, 0, 0, 0.6 );
	color: #fff;
	transition: bottom 500ms ease-in;
}
.caption.visible {
	bottom: 0;
}

#slider-nav {
	margin: 1em 0;
	text-align: center;
}

#slider-nav a {
	width: 2em;
	height: 2em;
	border: 1px solid #ccc;
	text-align: center;
	text-decoration: none;
	color: #000;
	display: inline-block;
	line-height: 2;
	margin-right: 0.5em;
}

#slider-nav a.current {
	border-color: #000;
}

.techologiesSection #slider {
	position: absolute;
	max-width: 80%;
	margin-left: 5%;
	background: #fff;
}

.trueFalseSlide {
	display: flex;
}

.trueFalseSlide i {
	margin-right: 20px;
	font-size: 30px;
	color: #1234B9;
}

.captione {
	max-width: 300px;
}

.falseSlideItem i{
	color: #D24E1D;
}

.slider-wrapper {
	background: #fff;
}

.slide {
	padding: 20px;
}

.techologiesAll {
	background: #F7F8FA;
	min-height: 240px;
}

.wrapperOurService {
	padding-bottom: 20px;
}


.imageSliderMain {
	position: absolute;
	width: 300px;
}

.ourServiceSection {
	background: #111A51;
	min-height: 300px;
	color: #F7F8FA;
}

.wrapperServiceItem {
	padding: 10px;
	background: #111A51;
	height: 140px;
	width: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	 transition: 1s;
}

.wrapperServiceItem i {
	font-size: 35px;
	color: #092ACF;
	margin-bottom: 10px;
}

.wrapperOurService h2 {
	max-width: 450px;
	font-size: 30px;
}

.wrapperOurService p:first-child {
	color: #D2D2D2;
	font-size: 16px;
}

.wrapperService {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
	margin-top: 30px;
}

.wrapperServiceItem:hover {
	background: #092AD1;
	border-radius: 5px;
}

.wrapperServiceItem:hover i {
	color: #111A51;
}

.reviewsSection {
	background-image: url('../image/bg2.jpg');
	min-height: 900px;
	position: relative;
	bottom: 300px;
	z-index: -1;
	padding-top: 300px;
}

.reviewsBlockSentance {
	width: 160px;
	height: 220px;
	background: #092ACD;
	position: absolute;
	top: 70%;
	left: 13%;
	text-align: center;
	opacity: 0.8;
}

.reviewsBlockSentance p {
	color: #fff;
	font-weight: 500;
	font-size: 35px;
	margin-top: 50px;
}